header.bg-blue-600
    .container.mx-auto.flex.justify-between.items-center
        h1.text-md.text-white.font-extrabold.text-center Bienes 
            span.font-normal Raíces 
            span.font-extrabold Soldati

        nav(class="my-5 text-sm md:flex md:gap-3 md:items-center font-bold text-white") 
            a(href="#") Mis propiedades 
            a(href="#") Perfil
            a(href="#" class="bg-blue-700 py-2 px-10 rounded-lg") Cerrar sesión
